<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogPostSite</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="d-flex justify-content-between align-items-center p-2">
    <h1 class="border-right-0-dark font-weight-bold">
      The Blog Post Site
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
      <button class="btn btn-dark" onclick="window.location.href = '/';"></button>Home</button>
      <button class="btn btn-dark" id="logout">Dashboard</button>
      <button class="btn btn-dark" id="logout">Logout</button>
    </nav>
    {{/if}}
    {{#if !logged_in}}
    <nav>
      <button class="btn btn-dark" id="login">Login</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{#if !logged_in}}
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>