{{#each post as |posts| }}
<div class="card d-flex justify-content-center" style="width:24rem; hight: 10rem;">
  <div class="card-body">
    <h2 class="card-title">{{posts.name}}  {{posts.date_created}}</h2>
  </div>
</div>
{{/each}}