<h2>Login</h2>

<form class="card d-flex justify-content-center form login-form" style="width:24rem; hight: 10rem;">
  <div class="form-group">
    <label for="login-e">Email:</label>
    <input class="form-input" type="text" id="login-e" />
  </div>
  <div class="form-group">
    <label for="login-p">Password:</label>
    <input class="form-input" type="password" id="login-p" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
  <div>
    <button class="btn btn-info"id="signup">Sign Up</button>
  </div>
</form>
<script src="/js/login.js"></script>