<h2>Sign Up</h2>

<form class="card d-flex justify-content-center form" style="width:24rem; hight: 10rem;"  id="signup-form">
    <div class="form-group">
    <label for="signup-u">Username:</label>
    <input class="form-input" type="text" id="signup-u" />
  </div>
  <div class="form-group">
    <label for="signup-e">Email:</label>
    <input class="form-input" type="text" id="signup-e" />
  </div>
  <div class="form-group">
    <label for="signup-p">Password:</label>
    <input class="form-input" type="password" id="signup-p" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="create">Create</button>
  </div>
  <div>
    <button class="btn btn-info" id="login">Login insted</button>
  </div>
</form>
<script src="/js/signup.js"></script>